:root {
  --primary-color: #bc8b62;
  --secondary-color: #5f4c3d;
  --black-color: #070403;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Prata', serif;

  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--black-color);
  background: var(--primary-color);
  letter-spacing: 1.2px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button,
input,
textarea {
  font-size: 1.6rem;
  font-family: 'Prata', serif;
}

button {
  cursor: pointer;
}
