.home {
  &__container {
    max-width: 130rem;
    margin: 0 auto;
    height: 100%;
    padding: 6rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin-bottom: 4rem;
    }
  }

  &__card-list {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }
}
