.photo-container {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  padding: 6rem 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
  }
}

.photo {
  height: 30rem;
  margin-bottom: 2rem;
  background: var(--secondary-color);

  &__img {
    height: 100%;
    object-fit: cover;
    border: 8px solid var(--black-color);
    cursor: pointer;
  }
}
