.footer {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2rem;

  &__container {
    padding-top: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #070403;
  }

  &__atribuition {
    font-size: 1.2rem;

    a {
      color: inherit;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.social-links {
  display: flex;
  align-items: center;

  &__item {
    width: 3.2rem;
    height: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;

    &:hover {
      border: 1px solid #070403;
    }

    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}
